html {
	height: 100%
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map-canvas {
	height: 100%;
	float: left;
	width: 70%;
	margin: 5px;
}

#places {
	position: fixed;
	float: left;
	top: 0;
	right: 0;
	width: 25%;
	height: 50px;
	border-style: double;
	outline: 2px;
	margin: 5px;
	padding-top: 5px;
}

#place-list {
	padding: 5px;
}

#place {
	float: left;
}