html {
	height: 100%
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
}
/*For testing sizes*/
/*
div {
    border: 1px solid #ff0000;
}
*/

#mapContainer {
	position: relative;
	width: 100%;
	padding-bottom: 56.25%
}

#map-canvas {
	width: 700px;
}


#mapContainer .map {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 0;
}

hr {
border-style: double;
border-width: 3px; 
}

#new-search {
	margin: 5px;
}


#list-title {
	text-align: center;
	margin: 5px;
}

#list-item:hover {
	cursor: pointer;
}

#list-item {
	margin-bottom: 8px;
}

#places {
	position: fixed;
	top: 0;
	right: 0;
	margin: 5px;
	padding: 5px;
	background-color: #ffffff;
	border: 5px solid black;
	border-radius: 10px;
}

#place-list {
	padding: 5px;
	margin: 3px;
}

.search-button {
padding: 3px 10px 3px !important;
font-size: 18px !important;
background-color: #000000;
font-weight: bold;
color: #ffffff;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border: 1px solid #000000;
cursor: pointer;
}
